/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

.button {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  border: 2px solid var(--text-color);
  cursor: pointer;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button:active {
  color: var(--bg-color);
  background-color: var(--text-color);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 102px 0;
  background-color: var(--bg-color);
  background-image: url(../images/background_white.png);
  background-repeat: no-repeat;
}

.header {
  background-color: var(--bg-color);
  width: min(696px, 100%);
  height: 364px;
  border: 2px solid var(--text-color);
  margin-bottom: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
}

.header__text {
  margin-top: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.header__text span {
  padding: 0;
  line-height: 75%;
}

.header span:nth-child(1) {
  color: var(--text-color);
  font-family: 'PressStart2P-Regular';
  font-size: 65px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.header span:nth-child(2) {
  color: var(--text-color);
  font-family: 'PressStart2P-Regular';
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.header span:nth-child(1)::after {
  content: '>';
}

.header span:nth-child(1)::before {
  content: '</';
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 14px;
}

.theme-menu__button {
  color: var(--text-color);
  font-family: 'PressStart2P-Regular';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -16px;
}

.main_part {
  width: min(696px, 100%);
  margin-bottom: 54px;
  background-color: var(--bg-color);
}

.section {
  width: 100%;
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
}

.section__header {
  color: var(--text-color);
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 785;
  line-height: normal;
  margin: 5px 10px;
}

.section__paragraph {
  color: var(--text-color);
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 465;
  line-height: 21px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.section__paragraph:nth-child(3) {
  margin-bottom: 27px;
}

.section__buttons_block {
  align-self: end;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.card__like-button {
  padding: 9px 37px;
  border-radius: 0;
}

.card__icon-button {
  cursor: pointer;
}

.like-icon {
  fill: var(--text-color);
}

.section__picture {
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}

.footer {
  width: min(696px, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.footer__button {
  width: min(335px, 100%);
  height: 51px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.footer__picture {
  fill: var(--text-color);
}

.footer__button:active .footer__picture {
  fill: var(--bg-color);
}

@media (width <= 375px) {
  .header {
    height: 323px;
  }

  .header span:nth-child(1) {
    font-size: 49px;
  }
  
  .header span:nth-child(2) {
    font-size: 14px;
  }

  .footer__button {
    height: 80px;
    flex-direction: column;
  }
}
