@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000000;
        --text-color: #00CC14;
    }

    .page {
        background-image: url(../images/background_dark.png);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFFFFF;
        --text-color: #000000;
    }

    .page {
        background-image: url(../images/background_white.png);
    }
}

.page.theme_light {
    --bg-color: #FFFFFF;
    --text-color: #000000;
    background-image: url(../images/background_white.png);
}

.page.theme-dark {
    --bg-color: #000000;
    --text-color: #00CC14;
    background-image: url(../images/background_dark.png);
}